//// Code --------------------------------------------------------------------------------------------------------------
code {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    @apply pr-px-2;
    @apply pr-text-base-text-color pr-text-sm;
    @apply pr-bg-base-bg-color;
    @apply pr-rounded-base pr-border-solid pr-border pr-border-base-border-color;
}

pre {
    letter-spacing: 0;
    max-width: 100%;
    white-space: normal;
    @apply pr-text-base-text-color pr-text-sm;
    & > code {
        display: inline-block;
        align-items: start;
        margin: 0;
        min-width: 100%;
        white-space: pre-wrap;
        @apply pr-p-base;
    }
}

