@import "~@/styles/functions.scss";
@import "~@/styles/mixins.scss";

//// Variables -------------------------------------------------------------------
.col {
    width: 100%;
    float: left;
    min-height: 1px;
}
