@import "~@/styles/functions.scss";
@import "~@/styles/mixins.scss";

//// Lists -------------------------------------------------------------------------------------------------------------
ul ul,
ul ol,
ol ol,
ol ul {
    @apply pr-text-md;
    margin-bottom: theme(margin, base)/1.5;
}
li {
    margin-bottom: theme(margin, base)/1.5;
}

ul {
    list-style: circle inside;
    ul {
        list-style: square inside;
    }
}

ol {
    list-style: decimal inside;
}
