//// Misc --------------------------------------------------------------------------------------------------------------
hr {
    margin: 0;
    border-width: 0;
    @apply pr-my-base;
    @apply pr-rounded-base pr-border-solid pr-border-t pr-border-base-border-color;
}
iframe {
    border: 0;
}
