@import "~@/styles/functions.scss";
@import "~@/styles/mixins.scss";

//// Tables ----------------------------------------------------------------------
table {
    width: 100%;
    @apply pr-text-md;
}

thead {
    text-transform: uppercase;
    @apply pr-text-xs;
    th {
        &:hover {
            @apply pr-bg-base-bg-color;
        }
    }
}

th,
td {
    text-align: left;
    vertical-align: middle;
    @apply pr-px-base;
    @apply pr-py-2;
    @apply pr-rounded-base pr-border-solid pr-border-b pr-border-base-border-color;
    img {
        max-height: theme(ui, unit, base);
    }
}

tbody {
    td {
        white-space: nowrap
    }
    img {
        vertical-align: middle;
    }
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0
}

//// utility ---------------------------------------------------------------------
.table {
    width: 100%;
    overflow: auto;
    & > table {
        margin-bottom: 0;
    }
}

//// Misc --------------------------------------------------------------------------------------------------------------
table {
    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        margin-top: 0;
        margin-bottom: 0;
    }
}
