@import "~@config/theme.scss";

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

@function _($keys...) {
    $map: $theme;
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}