@import "~@/styles/functions/all.scss";
@import "~@/styles/mixins/all.scss";

@responsive {
  .pr-ratio-16\/9 {
    position: relative;
    padding-top: calc(100% / (16 / 9)) !important;
  }

  .pr-ratio-4\/3 {
    position: relative;
    padding-top: calc(100% / (4 / 3)) !important;
  }

  .pr-ratio-3\/2 {
    position: relative;
    padding-top: calc(100% / (3 / 2)) !important;
  }

  .pr-ratio-2\/1 {
    position: relative;
    padding-top: calc(100% / (2 / 1)) !important;
  }

  .pr-ratio-1\/1 {
    position: relative;
    padding-top: calc(100% / (1 / 1)) !important;
  }
}
