@import "~@/styles/functions/all.scss";

@responsive {
  .pr-transition-1 {
    transition: all .2s cubic-bezier(.175, .885, .32, 1.275);
  }

  .pr-transition-2 {
    transition: all .2s cubic-bezier(.165, .84, .44, 1);
  }

  .pr-transition-3 {
    transition: all .6s cubic-bezier(.215, .61, .355, 1);
  }

  .pr-transition-elastic {
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}
