@import "~@/styles/functions/all.scss";
@import "~@/styles/mixins/all.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
}

*,
*:focus,
*:hover{
  outline:none;
}

html {
    font-size: 100%;
}

body {
    word-spacing: normal;
}
