<section id="project" style="background-image: url('/assets/img/giphy.gif')">
    <div class="content">
        <h1 class="text-center nmb"><i class="ion-planet"></i><br><span id="title">{{ project }}</span></h1>
        <div class="text-center">
            <a href="/homepage" style="color: white;" class="button mr+">home</a>
            <a href="/projects" style="color: white;" class="button mr+">projects</a>
            <a href="/about" style="color: white;" class="button mr+">about</a>
            <a href="/contact" style="color: white;" class="button">contact</a>
        </div>
        <div class="text-center">
            <a href="/projects/1" style="color: white;" class="button mr+">project 1</a>
            <a href="/projects/2" style="color: white;" class="button mr+">project 2</a>
            <a href="/projects/3" style="color: white;" class="button mr+">project 3</a>
            <a href="/projects/4" style="color: white;" class="button mr+">project 4</a>
            <a href="/projects/5" style="color: white;" class="button mr+">project 5</a>
            <a href="/projects/6" style="color: white;" class="button mr+">project 6</a>
        </div>
    </div>
</section>
