// NOTE: Use _path for setting the path to assets (see webpack.config.js)
@import "_normalize"
@import "_variables"
@import "fonts/_fonts"
@import "ui/_all"
@import "components/_all"

// NOTE: To be removed ---------------------------------------------------------
body
    background-size: cover
    background-position: center
    background-image: url('_assets/img/oWC9FU.gif')
    height: 100vh
    width: 100%
    display: flex
    justify-content: center
    *
        align-self: center
    h1
        padding: 25px 50px
        color: white
        text-transform: uppercase
        font-size: 7rem
// -----------------------------------------------------------------------------
#app
    @import "pages/_app.sass"
