<section id="project" style="background-image: url('assets/img/giphy.gif')">
    <div class="content">
        <h1 class="text-center nmb"><i class="ion-planet"></i><br><span id="title">Projects</span></h1>
        <div class="text-center">
            <a href="#homepage" style="color: white;" class="button mr+">home</a>
            <a href="#project" style="color: white;" class="button mr+">project</a>
            <a href="#about" style="color: white;" class="button mr+">about</a>
            <a href="#contact" style="color: white;" class="button">contact</a>
        </div>
    </div>
</section>
