//// Base Styles -------------------------------------------------------------------------------------------------------
*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body {
    word-spacing: normal;
    // Font
    @apply pr-text-base pr-leading-base pr-font-normal pr-text-base-text-color pr-tracking-base;
}
