@import "~@/styles/abstracts/functions.scss";
@import "~@/styles/abstracts/mixins.scss";

//// Buttons -----------------------------------------------------------------------------------------------------------
/**
 * @name Buttons
 * @section Base > Buttons
 * @description Buttons for various purposes.
 * @state .button - a normal button
 * @state .button--primary - a primary button
 * @state .button--secondary - a secondary button
 * @state .button--success - a success button
 * @state .button--danger - a danger button
 * @state .button--warning - a warning button
 * @state .button--info - a warning button
 * @markup
 *<button class="button">Button</button>
 *<button class="button button--primary">Primary</button>
 *<button class="button button--secondary">Secondary</button>
 *<button class="button button--success">Success</button>
 *<button class="button button--danger">Danger</button>
 *<button class="button button--warning">Warning</button>
 *<button class="button button--info">Info</button>
 */

$element-class-name: 'button';
button,
.#{$element-class-name},
input[type="reset"],
input[type="submit"],
input[type="button"] {
    text-align: center;
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    text-transform: uppercase;
    @include unit-style($element-class-name, clickable);

    // Font
    @apply pr-text-xs pr-font-semibold pr-tracking-ultrawide;
}
