@import "~@/styles/functions/all.scss";
@import "~@/styles/mixins/all.scss";

.row {
    @each $key, $value in _(spacing) {
        &.row-vs-#{$key} {
            margin-bottom: -$value;
            & > .col,
            & > [class^="col"] {
                margin-bottom: $value;
            }
        }
        &.row-gutter-#{$key} {
            margin-left: -$value;
            margin-right: -$value;
            & > .col,
            & > [class^="col"] {
                padding-left: $value;
                padding-right: $value;
            }
        }
    }
    @each $screenSize, $screenValue in _(screens) {
        @media (min-width: $screenValue) {
            @each $key, $value in _(spacing) {
                &.#{$key}\:row-vs-#{$key} {
                    margin-bottom: -$value;
                    & > .col,
                    & > [class^="col"] {
                        margin-bottom: $value;
                    }
                }
                &.#{$key}\:row-gutter-#{$key} {
                    margin-left: -$value;
                    margin-right: -$value;
                    & > .col,
                    & > [class^="col"] {
                        padding-left: $value;
                        padding-right: $value;
                    }
                }
            }
        }
    }
}

.container {
    @each $screenSize, $screenValue in _(screens) {
        @media (min-width: $screenValue) {
            max-width: $screenValue;
        }
    }
}
