@import "~@/styles/functions/all.scss";
@import "~@/styles/mixins/all.scss";

//// Grid ---------------------------------------------------------------------------------------------------------
/**
 * _@name Grid
 * _@section Base > Grid
 * _@description Responsive flex grid classes.
 * _@state .container-fluid - Container for full width
 * _@state .container - Container with adaptative width depending of viewport size
 * _@state .row - Row wrappers for columns
 * _@state .col - Columns classes, using it with tailwind width classes.
 * _@markup
 *  <div class="container-fluid | pr-mb-4 ">
 *      <div class="row">
 *          <div class="col pr-w-1/3 | pr-py-4 pr-border-black pr-border pr-text-center pr-bg-primary pr-text-white">1 of 3</div>
 *          <div class="col pr-w-1/3 | pr-py-4 pr-border-black pr-border pr-text-center pr-bg-primary pr-text-white">2 of 3</div>
 *          <div class="col pr-w-1/3 | pr-py-4 pr-border-black pr-border pr-text-center pr-bg-primary pr-text-white">3 of 3</div>
 *      </div>
 *  </div>
 *  <div class="container | pr-mb-4 ">
 *      <div class="row">
 *           <div class="col pr-w-1/2 | pr-py-4 pr-border-black pr-border pr-text-center pr-bg-warning pr-text-white">1 of 2</div>
 *           <div class="col pr-w-1/2 | pr-py-4 pr-border-black pr-border pr-text-center pr-bg-warning pr-text-white">2 of 2</div>
 *      </div>
 *  </div>
 *  <div class="container-fluid">
 *      <div class="row">
 *           <div class="col pr-w-full pr-py-4 pr-border-black pr-border pr-text-center pr-bg-secondary pr-text-white">1 of 1</div>
 *      </div>
 *  </div>
 */
@mixin gutters($gutter: _(pristine, gutterUnit, base)) {
    padding-left: $gutter;
    padding-right: $gutter;
}

@mixin row($gutter: _(pristine, gutterUnit, base)) {
    margin-left: -$gutter;
    margin-right: -$gutter;
}

@mixin col() {
    @include gutters();
    width: 100%;
    float: left;
    min-height: 1px;
}

@mixin container() {
    @include gutters();
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 100%;
    @media (min-width: _(screens, sm)) {
        max-width: _(screens, sm);
    }
    @media (min-width: _(screens, md)) {
        max-width: _(screens, md);
    }
    @media (min-width: _(screens, lg)) {
        max-width: _(screens, lg);
    }
    @media (min-width: _(screens, xl)) {
        max-width: _(screens, xl);
    }
}
.container {
    @include container();
}

.container-fluid {
    @include gutters();
}

.col {
    @include col();
}

.row {
    overflow: hidden;
    @include row();
}

