@import "~@/styles/abstracts/functions.scss";
@import "~@/styles/abstracts/mixins.scss";

//// Inputs ------------------------------------------------------------------------------------------------------------
/**
 * _@name Inputs
 * _@section Base > Inputs
 * _@description Inputs for various purposes.
 * _@state .input - a normal input
 * _@state .input--primary - a primary input
 * _@state .input--secondary - a secondary input
 * _@state .input--success - a success input
 * _@state .input--danger - a danger input
 * _@state .input--warning - a warning input
 * _@markup
 *<input type="text" placeholder="Hello World">
 *<input type="text" placeholder="Hello World" class="input--primary">
 *<input type="text" placeholder="Hello World" class="input--secondary">
 *<input type="text" placeholder="Hello World" class="input--success">
 *<input type="text" placeholder="Hello World" class="input--danger">
 *<input type="text" placeholder="Hello World" class="input--warning">
 *<textarea placeholder="Hello Textarea"></textarea>
 */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    $element-class-name: 'input';
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    box-shadow: none;
    appearance: none;
    outline: 0;
    width: 100%;
    @include unit-style($element-class-name, selectable);
    // Font
    @apply pr-text-md pr-tracking-base;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

textarea {
    height: auto;
    resize: vertical;
    min-height: _(pristine, unit, base) * 2;
    // Padding
    @apply pr-p-base;
}

select {
    appearance: menulist;
}

.select {
    width: 100%;
    position: relative;
    display: inline-block;
    select {
        margin: 0;
        appearance: none;
        width: 100%;
        padding-right: _(pristine, unit, base);
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        right: _(pristine, unit, base)/2;
        transform: translateX(50%);
        bottom: 0;
        margin: auto;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: _(colors, base-text-color) transparent transparent transparent;
        pointer-events: none;
    }
}

.radio,
.checkbox {
    cursor: pointer;
    input {
        margin-bottom: 0;
        margin-right: _(pristine, unit, base)/4;
        vertical-align: text-top;
    }
}

label,
legend {
    display: block;
    margin-bottom: _(margin, base)/3;
    text-transform: uppercase;
    // Font
    @apply pr-font-semibold pr-text-sm pr-tracking-ultrawide;
}

fieldset {
    & > label,
    & > legend {
        // Padding
        @apply pr-px-base;
    }
    // Padding
    @apply pr-p-base pr-pb-0;

    // Borders
    @apply pr-rounded-base pr-border-solid pr-border pr-border-base-border-color;
}
