@import "~@/styles/abstracts/functions.scss";
@import "~@/styles/abstracts/mixins.scss";

//// Tables ------------------------------------------------------------------------------------------------------------
/**
 * _@name Tables
 * _@section Base > Tables
 * _@description Tables for various purposes.
 * _@markup
 *<table>
 *    <thead>
 *        <tr>
 *            <th></th>
 *            <th>name</th>
 *            <th>age</th>
 *            <th>location</th>
 *            <th></th>
 *        </tr>
 *    </thead>
 *    <tbody>
 *        <tr>
 *            <td>
 *                <img src="https://images.unsplash.com/photo-1539384894456-f4b7ceb0e407?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3849b2c9613fa713a1115faf7105588a&auto=format&fit=crop&w=800&q=80" alt="">
 *            </td>
 *            <td>name</td>
 *            <td>age</td>
 *            <td>location</td>
 *            <td class="pr-text-right">
 *                <button class="button button--primary">edit</button>
 *            </td>
 *        </tr>
 *    </tbody>
 *</table>
 */
table {
    width: 100%;
    // Font
    @apply pr-text-md;
}

thead {
    text-transform: uppercase;
    // Font
    @apply pr-text-xs;
    th {
        &:hover {
            // Background
            @apply pr-bg-base-bg-color;
        }
    }
}

th,
td {
    text-align: left;
    vertical-align: middle;
    // Padding
    @apply pr-px-base pr-py-2;

    // Borders
    @apply pr-rounded-base pr-border-solid pr-border-b pr-border-base-border-color;
    img {
        max-height: _(pristine, unit, base);
    }
}

tbody {
    td {
        white-space: nowrap
    }
    img {
        vertical-align: middle;
    }
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0
}

//// utility -----------------------------------------------------------------------------------------------------------
.table {
    width: 100%;
    overflow: auto;
    & > table {
        margin-bottom: 0;
    }
}

//// Misc --------------------------------------------------------------------------------------------------------------
table {
    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        margin-top: 0;
        margin-bottom: 0;
    }
}
