@import "~@/styles/abstracts/functions.scss";

//// Transitions -----------------------------------------------------------------------------------------------------------
/**
 * _@name Transitions
 * _@section Base > Transitions
 * _@description Transitions for various purposes.
 * _@state .pr-transition-1 - a simple transition
 * _@state .pr-transition-2 - a simple fastest transition
 * _@state .pr-transition-3 - a simple smoothy transition
 * _@state .pr-transition-elastic - an elastic transition with easeInOut
 * _@markup
 *<div class="container-fluid">
 *  <div class="pr-flex row">
 *      <div class="col pr-w-1/4 pr-transition-1 | hover:pr-h-32  | pr-text-white pr-h-16 pr-bg-primary pr-text-center pr-flex pr-justify-center pr-items-center">Transition 1</div>
 *      <div class="col pr-w-1/4 pr-transition-2 | hover:pr-h-32  | pr-text-white pr-h-16 pr-bg-secondary pr-text-center pr-flex pr-justify-center pr-items-center">Transition 2</div>
 *      <div class="col pr-w-1/4 pr-transition-3 | hover:pr-h-32  | pr-text-white pr-h-16 pr-bg-primary pr-text-center pr-flex pr-justify-center pr-items-center">Transition 3</div>
 *      <div class="col pr-w-1/4 pr-transition-elastic | hover:pr-h-32  | pr-text-white pr-h-16 pr-bg-secondary pr-text-center pr-flex pr-justify-center pr-items-center">Transition Elastic</div>
 *  </div>
 *</div>
 */

.pr-transition-1{
  transition: all .2s cubic-bezier(.175,.885,.32,1.275);
}
.pr-transition-2{
  transition: all .2s cubic-bezier(.165, .84, .44, 1);
}
.pr-transition-3{
  transition:all .6s cubic-bezier(.215,.61,.355,1);
}
.pr-transition-elastic{
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
