@import "~@config/pristine.config.scss";

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

@function theme($keys...) {
    $map: $pristine_config;
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}
